[*.{kt,kts}]

# Composable functions should start with a capital letter.
ktlint_function_naming_ignore_when_annotated_with = Composable

# ktlint always puts a new line after a multi-line assignment, like this:
# val colors =
ktlint_standard_multiline-expression-wrapping = disabled
